#.classpath needs to be synced for the libraries to work
#*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
/2015_Bot/bin/*.jar
/2015_Bot/bin/*.war
/2015_Bot/bin/*.ear

# Folders
/.metadata
/2015_Bot/bin
/2015_Bot/dist/
/2015_Bot/build/org
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
